# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM64/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Bb]uild/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.pdb
*.ilk
*.obj
*.log
*.tlog
*.lastbuildstate
*.idb
*.exp
*.lib
*.exe
*.dll

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet
packages/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
*.tmp

# App data
*.dat
source_log.txt
